extends code

block title
  | #{page.title}

block append head
  link(rel="stylesheet", href="/style/project.css")

block content
  a#back(href="/code.html")
  #hero
    .major=page.title
    .minor=page.metadata.subtitle
    .micro=page.metadata.epoch
  .external-icons
    if page.metadata.external
      a(href=page.metadata.external, target="_blank")
        img(src="/earth-white.png")
    if page.metadata.video
      a(href=page.metadata.video, target="_blank")
        img(src="/video-white.png")
    if page.metadata.github
      a(href=page.metadata.github, target="_blank")
        img(src="/github-white.png")
    if page.metadata.launchpad
      a(href=page.metadata.launchpad, target="_blank")
        img(src="/launchpad-white.png")
  #content!=page.html